{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <script src="{% static 'js/jquery.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>{% block title %}{% endblock title %}</title>
</head>

<body class="">
<div class="container">
<div  class="header" >
  <a href={% block home %}{% endblock home %}><h1 class="" >Sales project</h1></a>
<p class="info">User name : {{user.get_full_name}}  <a class="bg-danger logout" href="/sell/logout">    log out</a></>
<p class="info">Balance : {{user.account}} {% block increase %}{% endblock increase %}</p>
</div>
<div class="main">
  {% block form %}{% endblock form %}
</body>
<script src="{% static 'js/funcs.js' %}"></script>
</html>